

#swtor-serverStatus-widget{
	min-width:185px;
	max-width:225px;
	height:77px;
	background:url(images/swtorLogo.png) top left no-repeat;
	position:relative;
}
	
#swtor-serverStatus-widget .container-swtorss{
	position:absolute;
	top:24px;
	left:45px;
	background:rgba(5,8,15,.8);
	padding:6px 30px 6px 6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid rgba(56,70,94,1);
	font-family:Verdana;
	font-size:11px;
	color:#fff;
	-webkit-box-shadow:0 0 15px #ff0000; 
	-moz-box-shadow: 0 0 15px #ff0000; 
	box-shadow:0 0 15px #ff0000; 
}
/*	
#swtor-serverStatus-widget .name{

}
*/
#swtor-serverStatus-widget .status-swtorss.UP
,#swtor-serverStatus-widget .status-swtorss.DOWN{
	background:url(images/arrows.png) top left;
	height:18px;
	width:17px;
	text-indent:-9000px;
	position: absolute;
	right:6px;
	top:8px;
}

#swtor-serverStatus-widget .status-swtorss.DOWN{
	background-position:bottom left;
}

#swtor-serverStatus-widget .population-swtorss{
	font-size:8px;
	line-height:16px;
}
			
#swtor-ss-w-arw{
	/*min-width:24px;
	max-width:48px;
	height:48px;
	/*background:url(images/swtorLogo.png) top left no-repeat;*/
	/*position:relative;*/
}

#swtor-ss-w-arw .astatus.UP
,#swtor-ss-w-arw .astatus.DOWN{
	background:url(images/arrows.png) top left;
	height:18px;
	width:17px;
	text-indent:-9000px;
	position:inherit;
	right:6px;
	top:8px;
}

#swtor-ss-w-arw .astatus.DOWN{
	background-position:bottom left;
}
                
#swtor-ss-w-arw .apopulation{
	font-size:8px;
	line-height:16px;
}